<div>  
    <div class="modal-header" >
        <h4 class="modal-title">Terms and conditions</h4>
    </div>
    <div class="modal-body">
        Artwork: Refers to the drawing and the graphic content owned by the Company and licensed to the Purchaser under this Contract.
Contract: Refers to these T&Cs.
Company: Refers to The World of CTA Pte Ltd, a Singaporean private company limited by shares, which registered office is located at 100 Cecil Street, #15-02 The Globe, 069532 Singapore. 
Parties: Refers to the Purchaser and the Company and “Party” refers to one of them.
Purchaser: Refers to any person who subscribes to the NFTs’ Sale on the Website.
Terms and Conditions (“T&Cs”): Refers to this contract, which constitutes a legally binding agreement between the Purchaser and the Company, governing the purchase of NFTs in the context of the Sale.
NFTs: Refers to the non-fungible tokens issued by the Company which represents Artwork based on the Cross the Ages universe. 
Sale: Refers to the issuance of NFTs by the Company from the Website.
You: Refers to you as the current Purchaser of the Sale and Party of these Terms and Conditions.
Website: Refers to all content and services of the Company accessible from the Crosstheages.com domain, its linked domain and subdomains.
2. Acceptance
Acceptance. By participating in the Sale, You accept and agree to these Terms and Conditions without any condition or restriction.
If You do not agree to this Contract, You shall not participate in the Sale made by the Company.
Capacity. You confirm that you have the legal capacity to receive and hold and make use of the NFT under any relevant jurisdiction.
3. Purpose
These Terms and Conditions are related to the sale of NFTs by the Company on its Website. It solely governs the contractual relationship between You and the Company regarding the Sale and any related contract.
4. The Sale
The Company offers NFTs featuring the Cross the Ages universe and representing digital card games of heroes which will be playable in the Cross the Ages game once launched (the “Project”). 
The NFT acquisition does not confer any rights on the Company.
Price. The NFT’s price is detailed on the Website. NFTs can be bundled into packs. Some packs may be airdrop. You expressly agree that the price is subject to changes.
By participating in the purchase or acquisition of NFT, the buyer confirms that he/she is in compliance with the regulations of his/her country.
For further information on the Sale, please consult the Company’s Website or contact the Company according to the Article 8 "Contact" below.
5. Warnings
Participating in the Sale is a risky operation, and therefore it is only aimed at experienced purchasers who are used to blockchain technology and NFTs.
By accepting this Contract, You acknowledge (i) having the necessary knowledge and understanding of the blockchain technology and the NFTs, and (ii) understand the risks associated with blockchain-based software systems and NFTs as described hereof and in the current Contract.
Economic risks. You understand that the purchase of NFTs can be affected by economic risks, including but not limited to partial or total loss of value.
Technological risks. You understand that the NFTs’ purchase can be affected by technological risks, including but not limited to security error or failure allowing and/or resulting in hacking and stealing of Purchaser and/or Website data; stealing or loss of the Purchaser external wallet private key or his access to the Website; risks associated with blockchains protocol and lack of transparency in NFTs industry and marketplace.
Legal risks. You understand that the NFTs’purchase can be affected by legal risks, including but not limited to the lack of regulation and the subsequent lack of any guarantees associated with NFTs sale and exchange services ; the risk of being legally prohibited or restricted in your country; any amendment of the applicable legislation, regulations, opinions, decisions, injunctions, that may impact the existence, lawfulness, or status of NFTs or the Sale.
Risks related to the Project. You understand that the Project can be affected by threats, including but not limited to total or partial economic and/or technical failure of the Project, including but not limited because of its early stage of development; a change in the development strategy of the Project or the modification of the properties attached to the NFTs.
Unforeseen risks. You acknowledge and agree that there are significant other risks that the Company cannot anticipate since NFTs are new and untested.
The Company will not be held responsible for any damage related to the risks mentioned above. By accepting this Contract, You acknowledge having read and understood these warnings.
6. Purchaser’s obligations
By accepting the current Contract, You undertake to:
•	COMPLY WITH THE PRESENT CONTRACT;
•	ACT IN GOOD FAITH AND NOT MISUSE THE NFTS;
•	PROVIDE SOLELY ACCURATE INFORMATION TO THE COMPANY AND NOTIFY ANY CHANGE OR UPDATE;
•	USE NFTS IN COMPLIANCE APPLICABLE LAWS TO YOUR JURISDICTION.
To the fullest extent permitted by applicable law, You undertake to indemnify, defend and hold harmless the Company from and against all claims, demands, actions, damages, losses, costs and expenses (including attorneys’ fees) that arise from or relate to (i) your acquisition or use of the NFTs; (ii) your responsibilities or obligations under this Contract; and (iii) your breach of this Contract.
You may not infringe the reputation of the Company or any of its interests.
7. Company’s liability
Company undertakes to act with the care normally expected from a professional in his field and to comply with the best practice in force. The best endeavor obligation only binds the Company.
Limitation. Subject to any applicable contrary law, You may only incur the Company's liability if You prove that (i) the Company acted wrongfully and intentionally and (ii) exclusively if this behavior caused You a specific, personal and direct damage.
Exclusion. Subject to any applicable contrary law, the Company should not be liable for any direct or indirect damage resulting from:
•	ANY NAME ASSIGNED BY A PURCHASER TO ANY OF THE NFTS HE OWES, IN PARTICULAR IF SUCH NAME INFRINGES THE RIGHTS OF A THIRD PARTY, IS DEFAMATORY, ABUSIVE, OBSCENE, OFFENSIVE, VIOLENT OR ENCOURAGE VIOLENCE;
•	THE FAILURE, NON-PERFORMANCE OR NON-IMPLEMENTATION OF THE NFTS AND/OR THE PROJECT;
•	THE PARTIAL OR TOTAL LOSS OF THE VALUE OF NFTS;
•	ANY BREACH OF THIS CONTRACT BY THE PURCHASER OR A THIRD PARTY CONTROLLED BY THE PURCHASER;
•	LOSS OF CONTROL FOR ANY REASON WHATSOEVER (LOSS, HACKING, TECHNICAL FAILURE, ETC.) OF THE PURCHASER’S LOGIN CREDENTIALS;
•	TEMPORARY OR PERMANENT SUSPENSION OF THE PROJECT, FOR ANY REASON WHATSOEVER, INCLUDING DUE TO A REQUEST FROM THE PUBLIC AUTHORITIES, JUDICIAL AUTHORITY OR ANY THIRD PARTY;
•	ANY FAILURE OF THE COMPUTER AND SOFTWARE USED BY THE PURCHASER;
•	ANY DAMAGE THAT OCCURRED BEYOND THE CONTROL OF COMPANY: INTERNET NETWORK, FAILURE SPECIFIC TO THE PURCHASER’S EQUIPMENT, ETC.;
•	ANY RISK DESCRIBED IN THE PRESENT CONTRACT.
Force Majeure Event. The Company shall not be liable for its failure to perform any of its obligations to Purchaser hereunder, during any period in which such performance is delayed by circumstances beyond its reasonable control ("Force Majeure Event"). The Parties expressly agree that a failure of a blockchain protocol or technology (e.g., a wallet) will be considered as a Force Majeure Event. If a Force Majeure Event occurs, the Company shall notify the Purchaser as soon as possible of such an event preventing the normal execution of the Sale.
8. Amendment or Update
At its sole discretion and without prior notice, the Company may amend, change, update or add to the current Terms and Conditions.
In this event, You will receive a notification and have the right (i) to accept the update or (ii) to stop participating on the Sale. If You continue to participate, you are deemed to have accepted the amendment.
9. IP Rights
The Company owns and retains all intellectual property rights, interests, and titles to the full extent and without limitation on the Website, the Artwork, the Project, the NFTs and all elements.
You acknowledge without limitation that all intellectual property rights mentioned on the Website are the sole property of their respective owners. References to any product, platform, third-party service do not constitute recommendations or endorsements from the Company regarding them.
10. Privacy
10.1 Personal data
Information which directly or indirectly identifies Purchasers ("Personal data") is processed by the Company in connection with the participation on the Sale, including by means of cookies. To this end, the Company has implemented and maintained physical and technical measures that reasonably and appropriately protect the confidentiality, integrity, security and availability of the Purchaser’ Personal Data.
By participating in the Sale and accept the present Contract, the Purchaser agrees and authorizes the Company to share, if and when necessary, the Personal Data with any trusted third party for the sole purposes of the Sale. Besides, the Purchaser acknowledges that the Company may be required to provide the Personal Data to any regulatory bodies or administrative authorities if required by law.
Pursuant to the GDPR, the Purchaser shall be entitled to request access to, rectification, erasure of his own personal data, or restriction of processing concerning the Purchaser or to object to processing. As far as technically possible, the Company will enable the Purchaser to exercise his rights. To do so, the Purchaser shall notify in writing his request to the Company, with a copy of its signed ID document.
10.2 Cookies
During the consultation of the Website, cookies may be registered on Your electronic devices to make the Website use easier and to collect statistics relating to attendance and access.
Cookies are text files that the Website records on the terminal in order to store various technical data to facilitate the Website use and to collect statistical information about its Purchasers.
Purchasers are informed beforehand of the store on their terminal information. Purchasers are free to accept or refuse the storage of cookies. Continuing to navigate on the Website after having been informed means that the Purchaser accepts the data collection.
11. Right of withdrawal
Express waiver and agreement. By purchasing Company's NFTs, You accept that You will not have any right of withdrawal or cancellation right of the NFTs' purchase, without any restriction or condition.
12. Non-Waivers
Any failure of the Company to exercise or enforce any right of these Terms and Conditions will not constitute a waiver or a limit of such right.
To waive any of its rights, the Company shall solely (i) expressly and (ii) in writing waive its right.
13. Entire agreement
These Terms and Conditions constitute the complete and exclusive understanding and agreement the Company has with You regarding the Sale. They shall supersede any prior agreements, including in the event of a conflict.
14. Contact
If You have any questions regarding this Contract, please contact the Company at thefollowing address [***] or visit the “Contact us” section on the Website.
15. Language<br>
This Contract may be written in other languages. In the event of a dispute, only the English version shall prevail.
16. Applicable law and jurisdiction
Applicable law. Unless otherwise required by law, this Contract and any contractual relationship arising from the Sale are governed by Singapore law solely.
Amicable settlement. In a dispute, the Purchaser agrees to seek an amicable settlement before any legal action. The Purchaser undertakes to inform the Company at the following address: [***]. He shall specify its contact details and provide any information allowing us to appreciate the origin and the implications of the dispute.
Dispute. No legal action may be brought against the Company without prior formal notice by registered letter acknowledging receipt.
Competent jurisdiction. Unless otherwise required by law and failing to reach an amicable solution to the dispute, the Parties irrevocably consent that the competent courts of Singapore, shall have exclusive jurisdiction to resolve any dispute which may arise in connection with this Contract.


         
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="closeModal()">Close</button>
    </div>
 </div>  
  
 