/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(/assets/images/bg-texture-01.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position:top center
}

/* html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  } */