<!-- container-fluid (click)="onSlideClicked(c)"  col-md-6 col-xl-6 col-lg-6-->
<div class="container-fluid"> 
  <div class="row" >
    <div class="col-12 text-center mt-3"><img src="../assets/images/log.png"/>  </div>
  </div>
  <div class="row" style="margin-top: 6%;">
    <ngb-carousel #c="ngbCarousel" [interval]=0>
      <ng-template ngbSlide id="bronze">
        <div class="row align-items-center mobile-display" >
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <h2  class="text-white text-center">Apprentice pack</h2>
              
              <p class="text-justify text-white">
                  Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
                  technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
                  empires, no spaceships and no diaspora of humanity).
              </p>            
              <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-danger">Mint this package</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  text-center">
              <img  [src]="images[0]"/>
            </div>
        </div>
      </ng-template>

      <ng-template ngbSlide id="silver">
      <div class="row align-items-center mobile-display">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h2  class="text-white text-center">Disciple Pack</h2>
            <p class="text-justify text-white">
                Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
                technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
                empires, no spaceships and no diaspora of humanity).
            </p>            
            <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-primary">Mint this package</button>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6  text-center">
            <img [src]="images[1]"/>
          </div>
      </div>
    </ng-template>

    <ng-template ngbSlide id="gold">
      <div class="row align-items-center mobile-display" >
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <h2  class="text-white text-center">Primus pack</h2>
          <p class="text-justify text-white">
              Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
              technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
              empires, no spaceships and no diaspora of humanity).
          </p>            
          <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-success">Mint this package</button>
        </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <img [src]="images[2]"/>
      </div>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
 
</div> 
 <footer class="fixed-bottom">
    <div class="row text-center ">
      <div class="text-center text-white">
        © 2022 Cross The Ages. All rights reserved.
      </div>
    </div>
  </footer>

    
