.backgroud_image{
    background-image: url(/assets/images/bg-texture-01.jpg);
    background-size: cover;
    /*width: 100%;*/
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.gradient-card{
  width: 500px; 
  margin-top: 4%;
  background: linear-gradient(90deg, rgba(30,30,31,1) 0%, rgba(167,167,175,1) 64%, rgba(210,210,210,0.9643207624846813) 100%);
}

ngb-carousel {
  max-width:10%; /*400px;*/
  margin: auto;
  /*margin-top: 2%;
  margin: 50px auto;*/
}
/*ngb-carousel img {
  width: 100%;
  outline: none;
}*/

ngb-carousel {
  width: inherit;
  height: inherit;
}
.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
  /* z-index: 20;*/
  left:-50px; }

.carousel-control-next {
  /* z-index: 20; right: -50px;*/
  
  right: -13% !important;
}
.carousel-indicators{
  z-index: 20;
}

.carousel-control-next{
  margin-left: 90px;
}


/* Extra extreme small devices (phones,600px and down) */
@media only screen and (max-width: 375px)  {
   .col-12 {
    max-width: 100%;
    font-size: 70%;
    margin-left:1%; 
    margin-top: 2%; 
  }
  .mobile-display{
    display:flex;
    flex-direction: column-reverse;
  }
  p{
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
  }
  button{
    margin-left: 25%;
  }
  ngb-carousel img {
    width: 45%;
    height:65%;
    outline: none;
  }
  
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen  and (min-device-width: 375px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .col-12 {
    max-width: 100%;
    font-size: 80%;
    margin-left:1%; 
    margin-top: 13%; 
  }
  .mobile-display{
    display:flex;
    flex-direction: column-reverse;
  }
  p{
    margin-left: 2em;
    margin-right: 2em;
    text-align: center;
  }
  button{
    margin-left: 30%;
  }
  ngb-carousel img {
    width: 70%; height:70%;
    outline: none;
  }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
/*@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .col-md-12 {
    max-width: 50%;
    font-size: 90%;
    margin-left:1%; 
    margin-top: 4%;
  }
  p{
    margin-left: 2%;
    margin-right: 2%;
  }

  img {
    width: 40%; height:40%;
  }
  button{
    margin-left: 35%;
    font-size: 100%;
  }

}*/

/* Small devices (portrait tablets and large phones) sm */
@media only screen and (min-width: 576px)and (max-width: 768px) {
  .col-sm-12 {
    max-width: 100%;
    font-size: 80%;
    margin-left:1%; 
    margin-top: 40%;
  }
  button{
    margin-left: 30%;
  }
  ngb-carousel img {
    width: 70%; height:70%;
    outline: none;
  }
 
}


/* Medium devices (landscape tablets, 768px and up) md/*/
@media only screen and (min-width: 768px) and (max-width:991px){
  .col-md-12 {
    max-width: 100%;
    font-size: 115%;
    margin-left:1%; 
    margin-top: 20%;
  }
  p{
    margin-left: 2%;
    margin-right: 2%;
  }

  ngb-carousel img {
    width: 40%; height:40%;
    outline: none;
  }
  button{
    margin-left: 35%;
    font-size: 100%;
  }
} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){

  .col-lg-6{
    font-size: 90%;
    width: 50%;
  }
  p{
    margin-left: 20%;
  }
  button{
    margin-left: 45%;
  }
  ngb-carousel img {
    height:55%; 
    width:55%;
    outline: none;
  }
}

/*Dimensions for dual surface*/
@media screen and (width: 540px) {
  .col-sm-12{
    width: 100%;
    font-size: 80%;
    margin-left:1%; 
    margin-top: 15%;
  }
  button{
    margin-left: 30%;
  }
  .img-size{
    width: 40%;
    height: 40%;
  }
  ngb-carousel img {
    width: 50%; 
    height:50%;
    outline: none;
  }
  

  
  
}
/*xl*/
/*@media only screen and (min-width: 1200px) and (max-width: 1400px){

  .col-xl-6{
    font-size: 90%;
    /*width: 50%;
    margin-left:15%; 
    margin-top: 40%;
  }
  p{
    margin-left: 1%;
  }
  button{
    /*margin-left: 45%;
  }
 
  img {
    height:45%; 
    width:45%;
  }
}*/