<!-- container-fluid (click)="onSlideClicked(c)"  col-md-6 col-xl-6 col-lg-6-->
<div class="container-fluid"> 
  <div class="row" >
    <div class="col-12 text-center mt-3"><img src="../assets/images/log.png"/>  </div>
    
  </div>
  <div class="row" style="margin-top: 6%;">
    <ngb-carousel #c="ngbCarousel" [interval]=0>
      <ng-template ngbSlide id="bronze">
        <div class="row align-items-center mobile-display" >
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
              <h2  class="text-white text-center">Apprentice pack</h2>
                <!-- <p class="text-justify text-white">20 NFTs of CrossTheAges season 1</p>
                <p class="text-justify text-white">1 MYTHIC</p>
                <p class="text-justify text-white">Limited Edition</p> -->
                <p class="text-justify text-white">   
                  Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
              technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
              empires, no spaceships and no diaspora of humanity).
              </p>
                     
              <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-danger">Mint this package</button>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6  text-center">
              <img  [src]="images[0]"/>
            </div>
        </div>
      </ng-template>

      <ng-template ngbSlide id="silver">
      <div class="row align-items-center mobile-display">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h2  class="text-white text-center">Disciple Pack</h2>
            <p class="text-justify text-white">   
                <!-- 25 NFTs of CrossTheAges season 1<br>
                3 Mythic<br>
                Limited Edition -->
                Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
              technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
              empires, no spaceships and no diaspora of humanity).
            </p>            
            <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-primary">Mint this package</button>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6  text-center">
            <img [src]="images[1]"/>
          </div>
      </div>
    </ng-template>

    <ng-template ngbSlide id="gold">
      <div class="row align-items-center mobile-display" >
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <h2  class="text-white text-center">Primus pack</h2>
          <p class="text-justify text-white">
              Atmosphere  Mantris is an ultra-connected futuristic world. The world evokes a relatively near future, with advanced 
              technology but without post-futuristic disruption (meaning no wormholes or faster-than-light travel, no aliens or galactic 
              empires, no spaceships and no diaspora of humanity).
              <!-- 30 NFTs of CrossTheAges season 1<br>
              6 mythic<br>
              Limited edition -->

              
          </p>            
          <button   type="button" (click)="smartContract(c.activeId)" class="btn btn-success">Mint this package</button>
        </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <img [src]="images[2]"/>
      </div>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>
 
</div> 
 <footer class="fixed-bottom">
    <div  class="row text-center mobile-display ">
      <div class=" col-12 col-sm-12 col-md col-lg-6 text-right text-white">
        © 2022 Cross The Ages. All rights reserved.
      </div>
      <div class=" col-12 col-sm-12 col-md col-lg-6 text-left text-white">
        <!-- Discord -->
        <a  href="https://discord.com/invite/crosstheages" target="_blank" ><i class="fa-brands  fa-discord margin-social" ></i></a>
        <!-- telegram -->
        <a  href="https://t.me/crosstheages" target="_blank" ><i class="fa-brands   fa-telegram margin-social "></i></a>
        <!-- Instagram -->
        <a  href="https://www.instagram.com/crosstheages/" target="_blank"><i class="fa-brands   fa-instagram margin-social"></i></a>
        <!-- twitter -->
        <a  href="https://twitter.com/crosstheages" target="_blank" ><i class="fa-brands   fa-twitter margin-social "></i></a>
        <!-- youtube -->
        <a  href="https://www.youtube.com/channel/UClAY7c4yKUg_ZweqCKp5DPg" target="_blank"><i class="fa-brands   fa-youtube margin-social"></i> </a>
        <!-- Medium -->
        <a  href="https://medium.com/cross-the-ages" target="_blank" ><i class="fa-brands  fa-medium"></i></a>


       
      </div>
    </div>
  </footer>

    
